# Arquivos de Build e Pacotes
# Ignora a pasta de build do Maven e arquivos de pacotes gerados.
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs e Arquivos de Runtime
# Ignora arquivos de log e relatórios de crash da VM.
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
hs_err_pid*

# Arquivos e Pastas de Configuração de IDEs
# Ignora configurações específicas de editores e IDEs como IntelliJ, VSCode e Eclipse.
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.p2/
.mtj.tmp/
*.ctxt
/.jdks/

# Arquivos Gerados pelo Maven
# Ignora arquivos temporários e de backup do Maven.
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# Arquivos do Sistema Operacional
# Ignora arquivos de sistema gerados pelo macOS e Windows.
.DS_Store
Thumbs.db

# Arquivo de Variáveis de Ambiente
# IMPORTANTE: Nunca envie senhas e segredos para o repositório.
.env