# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# Maven
target/
.mvn/

# Eclipse
.project
.classpath
.settings/
.p2/

# IntelliJ
.idea/
*.iml
*.iws

# Pastas da IDE
/.idea/
/.vscode/
*.iml

# Pastas do Java (JDKs)
/.jdks/
/.p2/

# Arquivos e pastas do sistema
.DS_Store
*.log