# Compiled class file
*.class

# Ignorar logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# Eclipse
.project
.classpath
.settings/
.p2/

# IntelliJ
.idea/
*.iml
*.iws

# Pastas da IDE
/.idea/
/.vscode/
*.iml
*.ipr
*.iws

# Pastas do Java (JDKs)
/.jdks/
/.p2/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar diretório do Git
.git
.gitignore